@import url("whitespace-reset.css");

/* Global Styles */
html, body {
  height: 100%;
}
body {
  font: normal 16px Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

/* Sidebar */

#sidebar {
  float: left;
  width: 335px;
  height: 100%;
  color: #a5a8ba;
  background: #464f77;
  overflow: visible;
  box-sizing: border-box;
}

/* Sidebar table */

#sidebar table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 71px 0 0 0;
}
#sidebar table + table {
  margin: 52px 0;
}
#sidebar table + table td {
  text-decoration: line-through;
}
#sidebar tr {
  width: 100%;
}
#sidebar th {
  padding: 0 33px 7px 0;
  text-align: right;
  color: #d8d9e0;
  font-size: 18px;
  font-weight: 200;
}
#sidebar td {
  padding: 11px 33px;
  text-align: right;
}
#sidebar th:first-of-type {
  padding-right: 10px;
  text-align: right;
}
#sidebar th:last-of-type {
  position: relative;
  top: -1px;
}
#sidebar td:first-of-type {
  padding: 0 0 0 119px;
}
#sidebar th:nth-of-type(2),
#sidebar td:nth-of-type(2) {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
}
#sidebar th span {
  font-size: 14px;
  background: #6b7292;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  text-align: center;
  padding: 1px 4px 1px 2px;
}
#sidebar td span,
#content em {
  font-size: 14px;
  background: #6b7292;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  text-align: center;
  padding: 1px 4px 1px 5px;
}
#sidebar tr.selected {
  color: #d8d9e0;
  background-color: #383f5f;
}
#sidebar tr.selected td span {
  background: #148fd5;
}

/* Content */
#content {
  text-align: left;
  overflow: hidden;
  padding: 74px 0 0 20px;
  max-width: 840px;
}
#content h2 {
  font-size: 21px;
  font-weight: normal;
  margin: 0 0 0 10px;
}
#content h2 em {
  margin-left: 20px;
  font-style: normal;
  padding: 0 4px;
  color: #ffffff;
  background: #148fd5;
}

/* Content Table */

#content table {
  width: 100%;
  padding: 25px 100px 0 0;
}
#content td{
  padding: 12px 0;
  border-top: 1px solid #e7e7e7;
}
#content td:first-of-type,
#content th:first-of-type {
  padding-left: 15px;
  width: 25px;
}
#content td:first-of-type {
  background: url("images/checkbox_icon_unchecked.png") 15px 15px no-repeat;
}
#content tr.checked {
  color: #b3b3b3;
  text-decoration: line-through;
}
#content tr.checked td:first-of-type {
  background: url("images/checkbox_icon_checked.png") 15px 15px no-repeat;
}

#content td:last-of-type {
  text-align: right;
}
#content th {
  color: #3498d8;
  font-weight: normal;
  padding: 12px 0;
}

/* Invisible Button */

label {
  position: absolute;
  top: -500px;
  cursor: pointer;
}
#menu-toggle {
  display: none;
}

/* Media Queries */

@media (max-width: 768px) {
  label {
  position: fixed;
  top: 15px;
  left: 25px;
  }
  #sidebar {
    display: none;
  }
  #menu-toggle:checked ~ #sidebar {
    display: block;
  }
  #menu-toggle:checked ~ label {
    left: 360px;
  }
}
