@import url("whitespace-reset.css");

/* Global Styles */
html, body {
  height: 100%;
}
body {
  font: normal 15px Arial, Helvetica, sans-serif;
  letter-spacing: 1.1px;
  line-height: 40px;
  font-weight: 200;
}
label {
  cursor: pointer;
}

/* Sidebar */
#sidebar {
  float: left;
  width: 335px;
  height: 100%;
  color: #a5a8ba;
  padding: 66px 0;
  background: #464f77;
  box-sizing: border-box;
}

#sidebar table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
}
#sidebar table + table {
  margin: 50px 0;
}
#sidebar th {
  text-align: right;
  color: #d8d9e0;
  font-weight: 100;
  font-size: 18px;
}
#sidebar td {
  text-align: right;
  line-height: 36px;
}
#sidebar th span {
  background: #6b7292;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  text-align: center;
  font-size: 14px;
  padding: 2px 3px;
}
#sidebar td span {
  background: #6b7292;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  text-align: center;
  font-size: 14px;
  padding: 1px 4px 1px 5px;
}
#sidebar th:first-of-type {
  position: relative;
  top: 3px;
  width: 127px;
  text-align: right;
}
#sidebar th:nth-of-type(2) {
  text-align: left;
  padding: 0 0 2px 10px;
}
#sidebar td:nth-of-type(2) {
  text-align: left;
  padding: 2px 0 2px 10px;
}
#sidebar th:last-of-type,
#sidebar td:last-of-type {
  padding-right: 32px;
}
#sidebar table + table th:nth-of-type(2) {
  position: relative;
  top: -3px;
  left: -1px;
}
#sidebar table + table td {
  text-decoration: line-through;
}
#sidebar tr.selected {
  color: #d8d9e0;
  background-color: #383f5f;
}
#sidebar tr.selected td span {
  background: #148fd5;
}

/* Content */
#content {
  text-align: left;
  padding: 66px 100px 0 22px;
  max-width: 840px;
  overflow: hidden;
}
#content table {
  width: 88.6%;
  border-collapse: collapse;
}
#content th {
  color: #3498d8;
  font-weight: 200;
  font-size: 15.5px;
}
#content td{
  padding: 2px 0 0 0;
  border-top: 1px solid #e7e7e7;
  line-height: 46px;
}
#content td:first-of-type {
  background: url("images/checkbox_icon_unchecked.png") 10px 18px no-repeat;
}
#content th:first-of-type {
  padding: 0 6px 0 10px;
  width: 20px;
}
#content td:last-of-type {
  text-align: right;
}
#content td:last-of-type img {
  position: relative;
  top: 3px;
}
#content tr.checked {
  color: #b3b3b3;
  text-decoration: line-through;
}
#content tr.checked td:first-of-type {
  background: url("images/checkbox_icon_checked.png") 10px 17px no-repeat;
}
#content h2 {
  font-size: 20.5px;
  font-weight: 200;
  margin: 0 0 16px 11px;
}
#content em {
  position: relative;
  top: -2px;
  background: #148fd5;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  text-align: center;
  font-size: 13.5px;
  padding: 1px 4px 1px 5px;
  margin: -2px 0 0 18px;
  font-style: normal;
  color: #ffffff;
  z-index: -5;
}
#content td:nth-of-type(2) {
  cursor: pointer;
}
#content td:nth-of-type(2):hover {
  color: #91cbeb;
}

/* Modal checkbox */
#modal-toggle {
  display: none;
}
#modal {
  position: absolute;
  left: -1000px;
}
#modal-toggle:checked ~ #modal {
  position: absolute;
  top: 107px;
  left: 440px;
}
#modal-toggle:checked ~ #modal:before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  background: rgba(0, 0, 0, .2);
}

/* Modal dialog */

form {
  width: 575px;
  height: 400px;
  font-size: 16px;
  padding: 26px 30px;
  background: #ffffff;
  box-sizing: border-box;
}
form dt,
form dd {
  display: inline-block;
  margin: 5px 0 4px 0;
}
form dt {
  width: 90px;
}
form dt:last-of-type {
  position: relative;
  top: -12px;
}
form input[type="text"] {
  font-size: 16px;
  width: 396px;
  height: 36px;
  margin: 5px 0 0 0;
  padding: 0 0 0 8px;
  box-sizing: border-box;
  border: solid 1px #b3b3b3;
}
form img {
  margin-top: 12px;
}
form dt {
  padding: 0 15px 0 0;
  text-align: left;
  vertical-align: center;
}
form dt:nth-of-type(2) {
  position: relative;
  top: -12px;
}
form dt:last-of-type {
  padding: 10px 15px 0 0;
  vertical-align: top;
}
form dd:last-of-type {
  padding: 0;
  margin: 0;
}
form textarea {
  width: 395px;
  padding: 5px 5px 5px 10px;
  margin-top: 7px;
  letter-spacing: 1px;
  height: 145px;
  font-size: 16px;
  color: #757575;
  resize: none;
  box-sizing: border-box;
  border: solid 1px #b3b3b3;
}
form input[type="button"] {
  font-size: 15px;
  color: #d3e5f4;
  background-color: #148fd5;
  text-decoration: none;
  letter-spacing: 1px;
  border: none;
  width: 184px;
  height: 36px;
  border-radius: 5px;
  margin: 8px 0 0 12px;
}
form input[type="button"]:first-of-type {
  margin-left: 110px;
}

/* Invisible Button */

body > label {
  position: absolute;
  top: -1000px;
}
#menu-toggle {
  display: none;
}

/* Media Queries */

@media (max-width: 768px) {
  body > label {
  position: fixed;
  top: 15px;
  left: 25px;
  }
  #sidebar {
    display: none;
  }
  #menu-toggle:checked ~ #sidebar {
    display: block;
  }
  #menu-toggle:checked ~ label {
    left: 360px;
  }
}